.clearfix {
    display: block;
    content: "";
    clear: both;
}
.line {
    background-color: #7d7d7a;
    width: 100%;
    height: 70px;
    text-align: center;
    float: top;

}

.pic_block {
    float: left;
    width: 30%;
    height: 600px;
    background-color: #b2fdff;

}
.tirano_block {
    float: left;
    background-color: #007878;
    text-align: center;
    width: 70%;
    height: 150px;

}

.height_block {
    background-color: #fcdc90;
    float: left;
    width: 35%;
    height: 450px;

}

.weight_block {
    background-color: #7b94e2;
    float: left;
    width: 35%;
    height: 450px;

}